@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicación WEB</h1>
    <p class="lead">Este sitio ha sido construido con el Framework ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requerimientos</h2>
        <p>
            <ul>
                <li>.NET CON MVC</li>
                <li>BASE DE DATOS <b>SQL SERVER</b></li>
                <li>Entity Framework</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>Mi nombre es Daniel Corrales y mi correo de contacto es: <b> danieldmc123@hotmail.com </b></p>
    </div>
    <div class="col-md-4">
        <h2>Información</h2>
        <p>En el menú superior se encuentran distribuidos cada uno de los requerimientos solicitados, iniciando en la pestaña 'FACTURAS' se encontrarán sus acciones.</p>
    </div>
</div>